body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #504d4d;
    color: antiquewhite;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
