body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #504d4d;
    color: antiquewhite;
}

h1 {
    text-align: center;
    margin: 40px 0px;
}

h2 {
    text-align: center;
    margin: 40px 0px;
}

.rpsButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rpsButtonDiv button {
    display: block;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    color: #a95555;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    border: none;
}

.rpsButton:hover {
    cursor: pointer;
}

.rpsButton:active {
    background-color: #5f2f2f;
}

.scoreBoard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scoreBoard p {
    font-weight: bold;
}